@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;800&display=swap");
html {
  height: 100%;
}
body {
  background-color: hsl(218, 23%, 16%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main-container {
  height: auto;
  width: 337px;
  background-color: hsl(217, 19%, 24%);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-left: 60px;
  margin-right: 60px;
}

.advice-number {
  color: hsl(150, 100%, 66%);
  font-weight: 400;
  letter-spacing: 4px;
  font-size: 14px;
  margin-top: 40px;
}

.advice-text {
  color: white;
  font-size: 28px;
  margin: 40px;
  margin-top: 30px;
  margin-bottom: 0px;
  text-align: center;
  position: relative;
  font-weight: 800;
}

.divider-mobile {
  margin-top: 36px;
  margin-bottom: 25px;
}

.reroll-button {
  margin-bottom: -30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: hsl(150, 100%, 66%);
  border-style: none;
}

.button-icon {
  width: auto;
  height: 25px;
}

.reroll-button:hover {
  transition: 0.1s;
  box-shadow: -1px 1px 44px -6px rgba(0, 255, 128, 0.72);
  -webkit-box-shadow: -1px 1px 44px -6px rgba(0, 255, 128, 0.72);
  -moz-box-shadow: -1px 1px 44px -6px rgba(0, 255, 128, 0.72);
  cursor: pointer;
}

@media only screen and (min-width: 770px) {
  .main-container {
    width: 540px;
  }

  .divider-desktop {
    margin-top: 36px;
    margin-bottom: 25px;
  }

  .divider-mobile {
    display: none;
  }
}

@media only screen and (max-width: 770px) {
  .divider-desktop {
    display: none;
  }
}
